.footer {

    &__container {
        display: flex;
        justify-content: space-between;

     
    }
    &__logo {
        display: block;
        margin-bottom: 42px;
    }
    &__contacts {
        align-self: flex-end;
        &-item {
            margin-bottom: 7px;
        }
    }

}
