.footer {
    padding: 55px 0;

    &__container {
        display: grid;
        grid-template-areas: 
        'logo .'
        'copyright contact';
    }
    &__logo {
        grid-area: logo;
    }
    &__copyrigth{
        grid-area: copyright;
        align-self: flex-end;
    }
    &__contacts {
        grid-area: contact;
        justify-self: end;
    }
    &__contacts-item {
        margin-bottom: 7px;
    }

}
